---
export interface Props {
	post: any;
}

const { post } = Astro.props;
---

<article class="pb-8 mb-8 border-b-4 border-b-gray-100">
	<header class="pb-9">
		<p class="m-0 text-xl text-gray-400">{post.frontmatter.publishDate}</p>
		<a class="hover:underline" href={post.url}>
			<h1 class="text-4xl font-bold text-gray-800">{post.frontmatter.title}</h1>
		</a>
	</header>
	<p class="text-lg text-gray-600">{post.frontmatter.description}</p>
	<a class="m-0 text-lg text-gray-800 hover:underline" href={post.url}
		>Read more
	</a>
</article>
