---
import BaseHead from "../components/BaseHead.astro";
import BlogHeader from "../components/BlogHeader.astro";
import BlogPost from "../components/BlogPost.astro";

const { content } = Astro.props;
const { title, description, publishDate, author, heroImage, permalink, alt } =
	content;
---

<html lang={content.lang || "en"}>
	<head>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/prism-themes@1.9.0/themes/prism-lucario.css"
		/>
		<BaseHead {title} {description} {permalink} />
	</head>

	<body class="selection:text-[#ff5d01] selection:bg-[#ff5d01]/10">
		<BlogHeader />
		<div class="post-content mx-auto max-w-[65em] px-8 w-full">
			<BlogPost {title} {author} {heroImage} {publishDate} {alt}>
				<slot />
			</BlogPost>
		</div>
		<style is:global>
			h2 {
				@apply text-3xl font-bold;
			}

			h3 {
				@apply text-xl font-bold;
			}

			ol {
				@apply list-decimal pb-4;
				padding-inline-start: 40px;
			}

			ul {
				@apply list-disc pb-4;
				padding-inline-start: 40px;
			}

			p {
				@apply pb-4;
			}

			img {
				@apply m-auto;
			}

			.post-content a {
				@apply text-[#ff5d01]/70;
			}

			.post-content a:hover {
				@apply text-[#ff5d01] underline;
			}
		</style>
	</body>
</html>
